{% extends "base.html" %}
{% block title %}
Histórico Financeiro
{% endblock %}

{% block content %}

<div class="container mt-5">

<h1 class="titulo">
    Histórico Financeiro
</h1>

{% if fechamentos %}

<table class="table table-dark table-striped">

    <thead>

        <tr>
            <th>Competência</th>
            <th>Receita</th>
            <th>Atendimentos</th>
            <th>Ticket Médio</th>
            <th>Fechado em</th>
        </tr>

    </thead>

    <tbody>

        {% for fechamento in fechamentos %}

        <tr>

            <td>{{ meses[fechamento.mes] }}/{{ fechamento.ano }} </td>
            <td>
                R$ {{ "%.2f"|format(fechamento.receita) }}
            </td>
            <td>{{ fechamento.quantidade }}</td>
            <td>
                R$ {{ "%.2f"|format(fechamento.ticket_medio) }}
            </td>
            <td>
                {{ fechamento.data_fechamento.strftime("%d/%m/%Y") }}
            </td>

        </tr>

        {% endfor %}

    </tbody>
</table>

{% else %}

<div class="alert alert-info">

Nenhum mês foi fechado até o momento.

</div>

{% endif %}

<div class="text-center mt-4">

<a href="{{ url_for('financeiro') }}"
class="btn btn-secondary">

Voltar

</a>

</div>
</div>
{% endblock %}