{% extends "base.html" %}

{% block title %}
Novo Serviço
{% endblock %}

{% block content %}

<div class="container mt-5">

    <h1 class="titulo text-center mb-4">
        Novo Serviço
    </h1>

    <form method="POST">

        <div class="mb-3">
            <label class="form-label">Nome do Serviço</label>
            <input
                type="text"
                name="nome"
                class="form-control"
                required>
        </div>

        <div class="mb-3">
            <label class="form-label">Preço (R$)</label>
            <input
                type="number"
                name="preco"
                step="0.01"
                min="0"
                class="form-control"
                required>
        </div>

        <div class="mb-4">
            <label class="form-label">Duração (minutos)</label>
            <input
                type="number"
                name="duracao"
                min="1"
                class="form-control"
                required>
        </div> 

        <div class="mb-4">
            <label class="form-label">Descrição</label>
            <textarea
                name="descricao"
                class="form-control"
                rows="4"
                placeholder="Descrição do serviço..."></textarea>
        </div>

        <div class="text-center">

            <button
                type="submit"
                class="btn btn-warning">

                Salvar

            </button>

            <a
                href="{{ url_for('servicos') }}"
                class="btn btn-secondary">

                Voltar

            </a>

        </div>
    </form>
</div>

{% endblock %}
