{% extends "base.html" %}
{% block title %}
Login - Barbearia Fiais
{% endblock %}
{% block content %}

<div class="container py-4" style="max-width: 450px; margin-top: 80px;">

    <div class="card shadow">

        <div class="card-body p-4">

            <h1 class="login-titulo text-center">
                Barbearia Fiais
            </h1>

            <p class="login-subtitulo text-center">
                Faça login para acessar o sistema.
            </p>

            <form method="POST">

                <div class="py-4">
                    <input
                        type="email"
                        name="email"
                        class="form-control"
                        placeholder="E-mail"
                        required>
                </div>

                <div class="py-4">
                    <input
                        type="password"
                        name="senha"
                        class="form-control"
                        placeholder="Senha"
                        required>
                </div>

                <button
                    type="submit"
                    class="btn btn-warning w-100">

                    Entrar

                </button>

            </form>

            <hr>

            <p class="text-center py-4">
                Ainda não possui uma conta?
            </p>

            <a
                href="{{ url_for('cadastro_cliente') }}"
                class="btn btn-outline-warning w-100">

                Criar Cadastro

            </a>

        </div>
    </div>
</div>
{% endblock %}